[submodule "How-To-Ask-Questions-The-Smart-Way"]
	path = How-To-Ask-Questions-The-Smart-Way
	url = git@github.com:tvvocold/How-To-Ask-Questions-The-Smart-Way.git
[submodule "nju-ics2021"]
	path = nju-ics2021
	url = git@github.com:Toolman-P/nju-ics2021.git
[submodule "nju-os2022"]
	path = nju-os2022
	url = git@github.com:Toolman-P/nju-os2022.git
[submodule "CSAPP-Labs"]
	path = CSAPP-Labs
	url = git@github.com:Toolman-P/CSAPP-Labs.git
[submodule "15-213"]
	path = 15-213
	url = https://github.com/Toolman-P/CSAPP-Labs
